<!DOCTYPE html>
<html>
  <head>
    <title>Bork API v1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bork API</h1>
    <p>Welcome to Bork API</p>
    <li><a href="http://localhost:3000/api/training">Training</a></li>
    <li><a href="http://localhost:3000/api/bork">Breeds</a></li>
    <li><a href="http://localhost:3000/api/">API</a></li>
  </body>
</html>
